[submodule "lain"]
	path = lain
	url = git://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = git://github.com/lcpz/awesome-freedesktop.git

[submodule "awesome-config"]
	path = awesome-config
	url = git@bitbucket.org:elwin1234/awesome-config.git
